{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科普知识</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
{% include 'head.html' %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6-md-offset-3">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><span style="font-size: 30px">&#128038</span></th>
                            <th><h4>名称</h4></th>
                            <th><h4>目</h4></th>
                            <th><h4>科</h4></th>
                            <th><h4>属</h4></th>
                            <th><span style="font-size: 30px">&#128024;</span><h4>体型特征</h4></th>
                            <th><span style="font-size: 30px">&#128019;</span><h4>羽毛特征</h4></th>
                            <th><span style="font-size: 30px">&#127804;</span><h4>栖息地</h4></th>
                            <th><span style="font-size: 30px">&#127757;</span><h4>地理分布</h4></th>
                            <th><span style="font-size: 30px">&#128219;</span><h4>保护等级</h4></th>
                            <th><span style="font-size: 30px">&#128338;</span><h4>统计时间</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <th><img width="124" height="124" src="{% static bird_knowledge.images %}"/></th>
                             <th>{{ bird_knowledge.name}}</th>
                             <th>{{ bird_knowledge.order}}</th>
                             <th>{{ bird_knowledge.family}}</th>
                             <th>{{ bird_knowledge.genus}}</th>
                             <th>{{ bird_knowledge.size}}</th>
                             <th>{{ bird_knowledge.plumage}}</th>
                             <th>{{ bird_knowledge.habitat}}</th>
                             <th>{{ bird_knowledge.distribution}}</th>
                             <th>{{ bird_knowledge.iucn_status}}</th>
                             <th>{{ bird_knowledge.date}}</th>
                             {% if love %}
                             <th>
                                 <a href="{% url 'observations:nolove' id tags%}">
                                     <span style="font-size: 30px">&#128148;</span>
                                 </a>
                             </th>
                             {% else %}
                             <th>
                                 <a href="{% url 'observations:love' id tags%}" >
                                   <span style="font-size: 30px">&#128149;</span>
                                 </a>
                                 <br>
                             </th>
                             {% endif %}
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>