{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能鸟类识别平台</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-3.4.1.min.js' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
</head>
{% include 'head.html' %}
<body>
<ul class="rslides" id="slider">
    <!--分屏1-->
    <li>
        <div class="slider-img-w3layouts one">
            <div class="w3l-overlay">
                <div class="container">
                    <div class="banner-text-info">
                        <h3>探索
                            <span>自然之美</span> 汇聚全球珍稀
                            <span>鸟类信息</span>!
                        </h3>
                        <p>智能鸟类识别平台</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <!--分屏1-->
    <li>
        <div class="slider-img-w3layouts two">
            <div class="w3l-overlay">
                <div class="container">
                    <div class="banner-text-info">
                        <h3>实时
                            <span>观察记录</span> 让你不错过每一次
                            <span>精彩瞬间</span>
                        </h3>
                        <p>智能鸟类识别平台</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="slider-img-w3layouts three">
            <div class="w3l-overlay">
                <div class="container">
                    <div class="banner-text-info">
                        <h3>丰富的鸟类
                            <span>知识库</span> 助你成为鸟类
                            <span>识别专家</span>
                        </h3>
                        <p>智能鸟类识别平台</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="slider-img-w3layouts four">
            <div class="w3l-overlay">
                <div class="container">
                    <div class="banner-text-info">
                        <h3>与同好
                            <span>交流分享</span> 共同守护
                            <span>生态家园</span>
                        </h3>
                        <p>智能鸟类识别平台</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</body>
</html>